#set($layout="layout/bootstrap.vm")
<body>
<div class="easyui-panel" data-option="fit:true" title="编辑学生信息" style="padding:10px" >
    <!-- 自定义 -->
    <div class="container" style="margin-left: 10px">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10">
                <form id="edit_form" method="post" class="form-horizontal" role="form">
                    <input type="hidden" name="id" value="$!{student.id}" />
                    <div class="form-group">
                        <label for="stuId" class="col-sm-2 col-md-2 control-label">学号</label>
                        <div class="col-sm-10">
                            <input value="$!{student.stuId}" type="text" name="stuId" id="stuId" class="form-control" placeholder="例如:201324040211">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 col-md-2 control-label" >姓名</label>
                        <div class="col-sm-10">
                            <input value="$!{student.name}" type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="academy" class="col-sm-2 col-md-2 col-lg-2 control-label">学院</label>
                        <div class="col-sm-10">
                            <input value="$!{student.academy}" type="text" name="academy" id="academy" class="form-control"  >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="major" class="col-sm-2 col-md-2 control-label">专业</label>
                        <div class="col-sm-10">
                            <input value="$!{student.major}" type="text" name="major" id="major" class="form-control"  >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="classId" class="col-sm-2 col-md-2 control-label">班级</label>
                        <div class="col-sm-10">
                            <input value="$!{student.classId}" type="text" name="classId" id="classId" class="form-control" placeholder="例如:240402">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="grade" class="col-sm-2 col-md-2 control-label">年级</label>
                        <div class="col-sm-10">
                            <input value="$!{student.grade}" type="text" name="grade" id="grade" class="form-control" placeholder="例如:2013">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 col-md-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input value="$!{student.password}" type="text" name="password" id="password" class="form-control">
                        </div>
                    </div>

                    <div class="form-group" style="margin-left: 60px">
                        <input type="button" value="保存" id="submitBtn" class="btn btn-primary" >
                        <input type="button" value="取消" onclick="javascript:window.history.go(-1);"  id="cancelBtn" class="btn btn-warning" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    /**
     * 提交表单
     */
    function editForm(){
        var url = "${request.contextPath}/rest/student";
        $.ajax({
            url : url,
            type: "POST",
            data:$("#edit_form").serialize(),
            dataType:"json",
            statusCode : {
                201 :  function(){
                    alert("操作成功");
                    window.location.href = "${request.contextPath}/rest/page/student";
                },
                500 : function(){
                    alert("服务器繁忙");
                }
            }
        })
    }
    $(function(){
        //点击提交按钮
        $("#submitBtn").click(editForm);
    });
</script>

