<body>
<div class="easyui-panel" data-option="fit:true" title="学生信息管理" style="padding:10px" >
    <table id="dg"></table>
</div>
<script type="text/javascript">
    var toolbar = [
        {
            text: '新增',
            iconCls: 'icon-add',
            handler: function () {
                window.location.href="${request.contextPath}/rest/student/0"
            }
        }, {
            text: '修改',
            iconCls: 'icon-edit',
            handler: function () {
                var row = $("#dg").datagrid('getSelections');
                if(row.length==1){
                    var id=row[0].id;
                    window.location.href="${request.contextPath}/rest/student/"+id;
                }else{
                    alert("请选择一行");
                }
            }

        },
        {
            text: ' 查看考勤',
            iconCls: 'icon-edit',
            handler: function () {
                var row = $("#dg").datagrid('getSelections');
                if(row.length==1){
                    var id=row[0].id;
                    window.location.href="${request.contextPath}/rest/sattence/detail/"+id;
                }else{
                    alert("请选择一行");
                }
            }

        }
    ];
    $('#dg').datagrid({
        url:"${request.contextPath}/rest/student",
        method:"GET",
        columns:[[
            {field:'id',title:'编号',checkbox:true},
            {field:'stuId',title:'学号'},
            {field:'name',title:'姓名'},
            {field:'academy',title:'学院'},
            {field:'major',title:'专业'},
            {field:'classId',title:'班级'},
            {field:'grade',title:'年级'},
            {field:'created',title:'创建时间',formatter:formatDatebox},
            {field:'updated',title:'修改时间',formatter:formatDatebox}
        ]] ,
        toolbar: toolbar,
        pagination:true,
        pageSize: 10,
        pageList: [10,25,50]
    });
</script>
</body>
