<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sshpro.manager.mapper.ClassInfoMapper">
	
	<select id="queryByTeacherId" parameterType="java.lang.Long" resultType="ClassInfo">
		SELECT c.* FROM teacher_class tc LEFT JOIN class_info c
		ON c.class_id = tc.class_id
		WHERE tc.teacher_id = #{teacherId}
		ORDER BY updated DESC
	</select>

</mapper>
