<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sshpro.manager.mapper.CourseMapper">
	
	<select id="queryByClassId" parameterType="java.lang.Long" resultType="Course">
		SELECT c.* FROM course c LEFT JOIN course_class cc
		ON c.id = cc.course_id
		WHERE cc.class_id = #{classId} 
		ORDER BY updated DESC
	</select>

</mapper>
