<!-- 引入css文件，不限顺序 -->
<link rel="stylesheet" href="${request.contextPath}/static/css/themes/default/easyui.css" type="text/css">
<link rel="stylesheet" href="${request.contextPath}/static/css/themes/icon.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${request.contextPath}/static/css/global.css">

<script src="${request.contextPath}/static/js/jquery-1.9.1.mini.js"></script>
<script src="${request.contextPath}/static/js/jquery.form.js"></script>
<script src="${request.contextPath}/static/js/jquery.easyui.min.js"></script>
<script src="${request.contextPath}/static/js/easyui-lang-zh_CN.js"></script>
<script src="${request.contextPath}/static/js/common.js"></script>
