<body>
<div class="easyui-panel" data-option="fit:true" title="课程信息管理" style="padding:10px" >
    <table id="dg"></table>
</div>
<script type="text/javascript">
    var toolbar = [
        {
            text: '新增',
            iconCls: 'icon-add',
            handler: function () {
                window.location.href="${request.contextPath}/rest/course/0"
            }
        }, {
            text: '修改',
            iconCls: 'icon-edit',
            handler: function () {
                var row = $("#dg").datagrid('getSelections');
                if(row.length==1){
                    var id=row[0].id;
                    window.location.href="${request.contextPath}/rest/course/"+id;
                }else{
                    alert("请选择一行");
                }
            }

        }
    ];
    $('#dg').datagrid({
        url:"${request.contextPath}/rest/course",
        method:"GET",
        columns:[[
            {field:'id',title:'编号',checkbox:true},
            {field:'course_id',title:'课程编号',formatter:function(value,row,index){
                return row.id;
            }},
            {field:'name',title:'课程名'},
            {field:'teacher',title:'教师姓名'},
            {field:'teacherId',title:'教师工号'},
            {field:'created',title:'创建时间',formatter:formatDatebox},
            {field:'updated',title:'修改时间',formatter:formatDatebox}
        ]] ,
        toolbar: toolbar,
        pagination:true,
        pageSize: 10,
        pageList: [10,25,50]
    });
</script>
</body>
