<body>
<div class="easyui-panel" data-option="fit:true" title="课程信息管理" style="padding:10px" >
    <table id="dg"></table>
</div>
<script type="text/javascript">
    var toolbar = [
        {
            text: '新增',
            iconCls: 'icon-add',
            handler: function () {
                window.location.href="${request.contextPath}/rest/course/0"
            }
        }, {
            text: '修改',
            iconCls: 'icon-edit',
            handler: function () {
                var row = $("#dg").datagrid('getSelections');
                if (row.length == 1) {
                    var id = row[0].id;
                    window.location.href = "${request.contextPath}/rest/course/" + id;
                } else {
                    alert("请选择一行");
                }
            }
        }
            , {
            text: '分配班级',
            iconCls: 'icon-cut',
            handler: function () {
                var row = $("#dg").datagrid('getSelections');
                if(row.length==1){
                    var courseId=row[0].id;
                    var courseName = row[0].name;
                    //TODO
                    var classId = prompt("请输入班级:","2013240402");
                    if (classId){
                        var con = confirm("分配班级:"+classId+"\n课程:"+courseName);
                        if(con){
                            bindClass(courseId,classId);
                        }
                    }
                }else{
                    alert("请选择一行");
                }
            }
        }
    ];
    $('#dg').datagrid({
        url:"${request.contextPath}/rest/course",
        method:"GET",
        columns:[[
            {field:'id',title:'编号',checkbox:true},
            {field:'course_id',title:'课程编号',formatter:function(value,row,index){
                return row.id;
            }},
            {field:'name',title:'课程名'},
            {field:'teacher',title:'教师姓名'},
            {field:'teacherId',title:'教师工号'},
            {field:'created',title:'创建时间',formatter:formatDatebox},
            {field:'updated',title:'修改时间',formatter:formatDatebox}
        ]] ,
        toolbar: toolbar,
        pagination:true,
        pageSize: 10,
        pageList: [10,25,50]
    });

    /**
     * 为课程绑定班级信息
     * @param courseId
     * @param classId
     */
    function bindClass(courseId,classId){
        var url = "${request.contextPath}/rest/classInfo/bindClassId";
        $.ajax({
            url : url,
            type: "POST",
            data:{"courseId":courseId,"classId":classId},
            dataType:"json",
            statusCode : {
                201 :  function(){
                    alert("操作成功");
                },
                500 : function(){
                    alert("服务器繁忙");
                }
            }
        })
    }

</script>
</body>
